# this file uses .gitignore syntax
node_modules/
coverage/
public/
vendor/
tmp/

# We don't control these files
app/frontend/foundation/foundation_and_overrides.scss
app/frontend/foundation/settings.scss
