{
  "$schema": "http://json.schemastore.org/prettierrc",
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "quoteProps": "consistent",
  "proseWrap": "always",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "ignore"
}
