<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Features</a></li>
    <li class="disabled">Another level</li>
    <li>
      <span class="show-for-sr">Current: </span>Real home page
    </li>
  </ul>
</nav>