<nav class="social-media" aria-label="Social media">
  <ul class="social-media__list">
    <li>
      <a href="#" class="social-media__link social-media__link--facebook" aria-label="Facebook">
        <i aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link social-media__link--twitter" aria-label="Twitter">
        <i aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link social-media__link--linkedin" aria-label="Linkedin">
        <i aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link social-media__link--facebook" aria-label="Linkedin">
        <i aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link social-media__link--instagram" aria-label="Instagram">
        <i aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link social-media__link--pinterest" aria-label="Pinterest">
        <i aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link social-media__link--google-plus" aria-label="Google +">
        <i aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link social-media__link--github" aria-label="Github">
        <i aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link social-media__link--tumblr" aria-label="Tumblr">
        <i aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>