<% provide(:title, "Home") %>

<main>
  <div class="row row--spaced">
    <div class="block">
      <%= render "application/breadcrumb" %>
    </div>
  </div>
  <div class="row row--spaced">
    <div class="block block--6">
      <h1>h1. This is a very large header.</h1>
      <h2>h2. This is a large header.</h2>
      <h3>h3. This is a medium header.</h3>
      <h4>h4. This is a moderate header.</h4>
      <h5>h5. This is a small header.</h5>
      <h6>h6. This is a tiny header.</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Links are very standard, and the color is preset to the primary colour. <a href="#">They look like this...</a></p>

      <fieldset>
        <label>Buttons look like this:</label>
        <div class="button-group">
          <a class="button">Primary</a>
          <a class="secondary button">Secondary</a>
          <a class="success button">Success</a>
          <a class="warning button">Warning</a>
          <a class="alert button">Alert</a>
        </div>
      </fieldset>
      <%= render "application/pagination" %>
    </div>
    <div class="block block--6">
      <%= render "form" %>
    </div>
  </div>
</main>