<section class="navigation__wrapper" id="main-menu" data-toggler=".navigation__wrapper--open">
  <nav class="navigation" role="menu">
    <ul class="navigation__list">
      <li class="navigation__item"><a href="/"><%= image_pack_tag "logo.svg", alt: "Ackama" %></a></li>
    </ul>
    <ul class="navigation__list navigation__list--right" data-accordion-menu data-slide-speed="0" data-multi-open="false">
      <li class="navigation__item"><a href="#">Right item 1</a></li>
      <li class="navigation__item"><a href="#">Right item 2</a></li>
      <li class="navigation__item">
        <a href="#">Right item 3</a>
        <ul class="navigation__list">
          <li><a href="#">Right item 1aaaaaaaaaaaaaaaaaaaaaaa</a></li>
          <li><a href="#">Right item 1b</a></li>
          <li><a href="#">Right item 1c</a></li>
        </ul>
      </li>
      <li class="navigation__item navigation__item--search">
        <%= render "application/header/search" %>
      </li>
    </ul>
  </nav>
  <nav class="navigation" role="menu">
    <ul class="navigation__list" data-accordion-menu data-slide-speed="0" data-multi-open="false">
      <li class="navigation__item navigation__item--borderless">
        <a href="/">Left item 1</a>
        <ul class="navigation__list">
          <li><a href="#">Left item 1aaaaaaaaaaaaaaaaaaaaaaa</a></li>
          <li><a href="#">Left item 1b</a></li>
          <li><a href="#">Left item 1c</a></li>
        </ul>
      </li>
      <li class="navigation__item navigation__item--borderless"><a href="/">Left item 2</a></li>
    </ul>
    <ul class="navigation__list navigation__list--right" data-accordion-menu data-slide-speed="0" data-multi-open="false">
      <li class="navigation__item navigation__item--borderless">
        <a href="#">Second right item 1</a>
        <ul class="navigation__list">
          <li><a href="#">Second right item 1aaaaaaaaaaaaaaaaaaaaaaa</a></li>
          <li><a href="#">Second right item 1b</a></li>
          <li><a href="#">Second right item 1c</a></li>
        </ul>
      </li>
      <li class="navigation__item navigation__item--borderless"><a href="#">Second right item 2</a></li>
      <li class="navigation__item navigation__item--borderless">
        <a href="#">Second right item 3</a>
        <ul class="navigation__list">
          <li><a href="#">Second right item 3</a></li>
          <li><a href="#">Second right item 3b</a></li>
          <li><a href="#">Second right item 3ccccccccccccccccccccccc</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="navigation__button navigation__button--close" aria-label="Close menu" type="button" data-toggle="main-menu">
    <span aria-hidden="true">&times;</span>
  </button>
</section>