<form class="search-bar" action="/" method="get">
  <label class="show-for-sr" for="keyword">Search</label>
  <input class="search-bar__input" id="keyword" type="text" name="keyword" placeholder="Search">
  <button class="search-bar__button" type="submit" placeholder="Submit" aria-label="Search Button" ></button>
</form>
