<div class="accordion" id="mfa-help">
  <div class="accordion-item">
    <h2 class="accordion-header" id="mfa-help-1">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#mfa-help-1-content" aria-expanded="true" aria-controls="mfa-help-1-content">
        What is two-factor authentication?
      </button>
    </h2>
    <div id="mfa-help-1-content" class="accordion-collapse collapse" aria-labelledby="mfa-help-1" data-bs-parent="#mfa-help">
      <div class="accordion-body">
        <p>
          Two-factor authentication (2FA) is a way of adding security to your
          account, and preventing people from accessing your account – even if
          they have access to your email and password.
        </p>
        <p>
          You’ll need an app on your phone or a similar device that can generate
          a 6-digit “One Time Password” for you each time you sign in. We also
          recommend generating backup codes, which can each be used once to
          access your account if you aren’t able to use an authenticator app.
        </p>
        <p class="mb-0">
          If you do think someone has access to your email and password, please
          contact us immediately.
        </p>
      </div>
    </div>
  </div>
</div>
