<% provide(:title, "Authenticated user dashboard") %>

<h1>Authenticated user dashboard</h1>

<p>
This is the signed in user dashboard.
Only signed in users can see this.
You are signed in as <%= current_user.email %>
</p>

